<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="HungTDH2 Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Regression Test">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductTest"/>
        </classes>
    </test>
</suite>